In [13]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/analise-de-dados/worldometer_data.csv')
df.head(10)

  Country/Region      Continent  ...  Tests/1M pop      WHO Region
0            USA  North America  ...      190640.0        Americas
1         Brazil  South America  ...       62085.0        Americas
2          India           Asia  ...       16035.0  South-EastAsia
3         Russia         Europe  ...      203623.0          Europe
4   South Africa         Africa  ...       53044.0          Africa
5         Mexico  North America  ...        8189.0        Americas
6           Peru  South America  ...       75521.0        Americas
7          Chile  South America  ...       92022.0        Americas
8       Colombia  South America  ...       35374.0        Americas
9          Spain         Europe  ...      151087.0          Europe

[10 rows x 16 columns]